<ul id="last_videos">
    <% for (var i = items.length -1; i >= items.length - number; i--) { %>
        <li class="item focusable">
            <a href="/video/<%= items[i].itemIndex %>/<%= items[i].itemId %>">
                <div>
                    <div class="thumbnail">
                        <img onerror='this.src="/assets/img/imagen.jpg"' src="<%= items[i].imageUrl%>">
                    </div>
                    <h2><%= fetchData.fetchTitle(items[i].title) %></h2>
                    <h3><%= items[i].category %> | <%= fetchData.fetchType(items[i].type) %> | <%= fetchData.fetchLanguaje(items[i].lang) %></h3>
                </div>
            </a>
        </li>
    <% } %>
</ul>