<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= items.entries[index].title %></title>
	<link rel="stylesheet" type="text/css" href="/assets/css/video.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/video.js"></script>
</head>
<body>
	<% include menu.ejs %>
	<div class="video-container">
		<video id="video" src="<%= items.entries[index].contents[0].url %>" autoplay controls>
		</video>
	</div>
	<!--<button onclick="fullscreen()">full</button>-->
	<div class="video-details">
		<div id="video-image-thumbnail">
			<img onerror=this.src="/assets/img/imagen.jpg" src="<%= items.entries[index].images[0].url %>" id="video-image">
		</div>
		<div class="video-text">
			<h1 id="video-title"><%= items.entries[index].title %></h1>
			<h4 id="video-data"><%= items.entries[index].categories[0].title %> | <%= fetchData.fetchLanguaje(items.entries[index].metadata[0].value) %> | <%= fetchData.fetchDate(items.entries[index].publishedDate) %></h4>
			<p id="video-description"><%= items.entries[index].description %></p>
		</div>
	</div>
</body>
</html>